body{background: #FDFDFC ;} /* #02FD1F */
/*Iconos de las esquinas izquierda,derecha*/
.fotopalmeras{border-radius: 1.4em;position: relative;left: 8%;top: 33px;width: 15%;}
/*Menu de la pagina*/
.caja_menu{width: 100%;height: 100px;position: relative;top: 100%;}
#menu{position: absolute;top: 6%;left: 20%;width: 80%;margin: auto;font-family: sans-serif;font-size: 1.1em;}
ul{list-style: none;}
nav li a {color: #5A6499;text-decoration: none;display: inline-block;padding: 10px 15px;}
ul > li a{float: left;}




.contenedor1{background: #FDFDFC;color: #5A6499;position: relative;top: 35.5%;width: 100%;}
.contenedor2{position: relative; background: #FDFDFC; width: 92%; left: 4%;height: 1000px;}
/*titulo 1 parrafo uno*/
.titulonosotrospart{
	position: absolute;
	left: 2%;
	color: #5A6499;
	font-size: 2em;
	font-family:  sans-serif;
}
/*parrafo 1*/
.parrafonosotrospart{
	position: absolute;
	top: 10%;
	width: 90%;
	left: 1%;
	text-align: left;
	font-family: sans-serif;
}



/*titulo 2 parrafo 2*/
.titulonosotrospart1{
	position: absolute;
	left: 2%;
	top: 25%;
	color: #880588;
	font-size: 2em;
	font-family:  sans-serif;
}
/*parrafo 2*/
.parrafonosotrospart1{
	position: absolute;
	top: 30%;
	width: 90%;
	left: 1%;
	text-align: left;
	font-family: sans-serif;
}




/*titulo 3 parrafo 3*/
.titulonosotrospart2{
	position: absolute;
	left: 2%;
	top: 39%;
	color: #880588;
	font-size: 2em;
	font-family:  sans-serif;
}
/*parrafo 3*/
.parrafonosotrospart2{
	position: absolute;
	top: 45%;
	width: 90%;
	left: 1%;
	text-align: left;
	font-family: sans-serif;
}






/*titulo 4 parrafo 4*/
.titulonosotrospart3{
	position: absolute;
	left: 2%;
	top: 51%;
	color: #880588;
	font-size: 2em;
	font-family:  sans-serif;
}
/*parrafo 4*/
.parrafonosotrospart3{
	position: absolute;
	top: 58%;
	width: 90%;
	left: 1%;
	text-align: left;
	font-family: sans-serif;
}


/*titulo 5 parrafo 5*/
.titulonosotrospart4{
	position: absolute;
	left: 2%;
	top: 70%;
	color: #880588;
	font-size: 2em;
	font-family:  sans-serif;
}
/*parrafo 5*/
.parrafonosotrospart4{
	position: absolute;
	top: 78%;
	width: 90%;
	left: 1%;
	text-align: left;
	font-family: sans-serif;
}

.titulonosotrospartuno{
	position: absolute;
	left: 2%;
	top: -5%;
	color: #02A0BA;
	font-size: 2.6em;
	font-family: cursive;
}

.footer{position: relative; height: 180px; top: 3em;background: #03ADB4;color: #FDFDFC;border-radius: 0em;font:150% sans-serif;line-height: 40%;}
/*url(../Imagenes/piedepagina3.jpg) para el backgroun de footer*/
.footer1{position: absolute;left: 10%;}
.footer2{position: absolute;left: 10%;top: 13%;}
.footer3{position: absolute;left: 10%;top: 25%;}
